.software-presentation {
  padding: 0px 15px;
  padding-top: 15px;
  display: grid;
  grid-template: repeat(6, auto) / 150px 250px 150px;
}

.software-presentation h1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  text-align: center;
}

.software-icon {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-content: flex-end;
  align-items: center;
}

.software-download {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.button {
  border-radius: 20px;
  background-color: #ff0037;
  text-decoration-color: white;
  box-shadow: -3px 5px 5px black
}

.software-download .button {
  font-size: 140%;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bolder;
}

.software-info {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.software-info.text {
  display: flex;
  align-self: center;
  font-size: smaller;
  background: #dddddd;
  box-shadow: -5px 5px 5px black;
  padding: 0px 8px
}

.software-screen {
  display: grid;
  grid-template: auto auto / auto 450px auto;
  grid-row: 3 / 4;
  grid-column: 1 / 4;
  margin-top: 10px;
}

.software-screen-btn-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  font-size: 600%;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.software-screen-btn-right {
  pointer-events: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  font-size: 600%;
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.fas.fa-star {
  color: yellow;
}

.software-screen-shots {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-right: 0px;
}

.shot {
  display: none;
  width: 450px;
}

.shot.active {
  display: block;
  animation: fade 0.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.software-screen-overview {
  display: flex;
  justify-content: center;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
}

.software-screen-overview img {
  margin-bottom: 15px;
}

.software-screen-overview img.active {
  border: 5px solid #1F1F1F;
}

.software-description {
  font-family: "Fontastique";
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
}

.software-rating {
  grid-column: 1 / 4;
  grid-row: 5 / 6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.software-comments {
  grid-column: 1 / 4;
  grid-row: 6 / 7;
}
.comment{
  display: grid;
  grid-template: 1fr / 20% 80%;
}
.comment-logo{
  grid-column: 1/2;
  display: flex;
  justify-content: center;
}
.comment-box{
  width: 100%;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.comment-box-effect,.comment-box{
  border: 1px solid #1F1F1F;
}
.comment-head{
  display: flex;
  width: 100%;
  grid-column: 2/3;
  flex-wrap: wrap ;
}
.comment-text-effect,.comment-addons,.comment-box-effect{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5px;
  width: 100%;
}
.comment-text-effect{
  padding: 5px 5px;
  margin-bottom: 0px;
}
.comment-addons{
  justify-content: flex-end;
}
.comment h4{
  margin  : 0px 0px;
}
.comment i{
  margin: 0px 5px;
}
.italic,.bold,.underline,.text-linked,.comment-image,.text-emoji,.send-button{
  display: flex;
  padding: 5px;
  border-radius: 5px;
  background-color: #ff0037;
  text-decoration-color: white;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.textarea{
  display: block;
  min-height: 60px;
  height: auto;
  border: none;
  overflow: auto;
  outline: none;
  width: 100%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0px;
}
.comment-box-effect{
  border-top: none;
  justify-content: space-between;
  background-color: #dddddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.comment-send{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-top: 10px;
}
