<article>
  <a href="<%= "news/" + link %>">
    <div class="news">
      <img src="<%= thumbnail %>" width="170px" height="120px" alt="">
      <h4>
        <i class="far fa-newspaper" style="font-size: 20px;"></i> &nbsp;
        <%= title %>
      </h4>
    </div>
  </a>
</article>