.login.active {
  display: block;
  position: relative;
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login {
  display: none;
  padding-left: 30px;
  animation: defade 0.5s;
}

@keyframes defade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

header.titre {
  text-align: center;
}

.signin {
  display: none;
  padding-right: 30px;
  animation: defade 0.5s;
}

.signin.active {
  display: block;
  align-self: flex-end;
  animation: fade 1s;
}

.acc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.acc_core.left {
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-start;
}

.acc_core.right {
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-end;
}

.acc img {
  position: relative;
  height: 500px;
  width: auto;
  padding: 15px;
  margin-bottom: 90px;
}

.acc img.right {
  animation: trans_right 1s;
}

@keyframes trans_left {
  from {
    right: 0px;
  }
  to {
    right: 272px;
  }
}

.acc img.left {
  animation: trans_left 1s;
}

@keyframes trans_right {
  from {
    left: 0px;
  }
  to {
    left: 272px;
  }
}

h2 {
  color: #393839;
}

.button {
  margin-top: 15px;
  font-size: 140%;
  font-weight: bolder;
  border-radius: 10px;
  background-color: #f62121;
  text-decoration-color: white;
  box-shadow: -1px 1px 5px black;
  text-align: center;
}

.switch {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-color: white;
  color: #393839;
  border-radius: 5px;
  border: 1px solid #393839;
  margin-block-start: 1.1em;
  margin-block-end: 1.1em;
  box-shadow: -1px 1px 5px black;
  pointer-events: stroke;
}

.switch:hover {
  background-color: #f62121;
  color: white;
}

button{
  border: none;
  background-color: inherit;
}
button:focus,button:active,button:hover{
  border: none;
}
.password-check{
  display: none;
}
.check-meter{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  height: 15px;
  margin-top: 5px;
}
.check-meter .score{
  width: 20%;
  border: 1px solid black;
  height: 4px;
}
.check-meter .score.bad{
  background-color: #c0392b;
}
.check-meter .score.average{
  background-color: #e67e22;
}
.check-meter .score.good{
  background-color: #2ecc71 ;
}
.check-meter .score:first-child{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.check-meter .score:last-child{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.password-check li{
  margin-top: 2px;
  color: #9ea39e;
}
.password-check ul{
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}
