@font-face {
  font-family: "Fontastique";
  src: url("../resources/fonts/fontastique.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../resources/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../resources/fonts/Inter-SemiBold.woff");
}

/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*/

.menu,.search-bar-responsive{
  display: none;
}
.software p:last-child{
  margin-left: 15px;
  margin-right: 15px;
}
h3 a {
  text-decoration: none;
  color: white;
}

h3, h4, p, .textarea,a {
  font-family: "Open Sans", sans-serif;
}

.top {
  grid-row: 1/2;
  grid-column: 1/4;
  display: grid;
  grid-template: 1fr/ 20% 75% 5%;
  box-shadow: 0px 2px 5px black;
}

body {
  display: flex;
  justify-content: center;
  background-color: #ecf0f1
}

.website {
  padding-top: 15px;
  width: 1000px;
}

.header {
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr 1fr/ 20% 75% 5%;
  background-color: #bdc3c7;
}

.logo img, footer img {
  width: 190px;
  height: 100px;
}

.search-bar {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 5;
}

input {
  line-height: 15px;
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1 1 auto;
  outline: none;
}

.search-bar input:c {
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1 1 auto;
}

.top-button {
  filter: none;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.top-button:hover {
  filter: brightness(1.5);
}

.OS-bar {
  display: flex;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
}

.theme-bar {
  background-color: #f62121;
  border: 0;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
}

.theme-bar.element {
  display: flex;
  justify-content: center;
  padding: 0px 36px;
  border: 0;
  border-right: 1px solid #393839;
  border-left: 1px solid #393839;
}

.theme-bar.element:first-child {
  display: flex;
  justify-content: center;
  padding-right: 38px;
  padding-left: 28px;
  border: 0;
  border-right: 1px solid #393839;
}

.theme-bar.element:last-child {
  display: flex;
  justify-content: center;
  padding-right: 34px;
  padding-left: 38px;
  border: 0;
  border-left: 1px solid #393839;
}

.OS-bar.element {
  border: 0;
  padding: 20px 60px;
  border-right: 2px solid #393839;
  border-left: 2px solid #393839;
  transition: 0.2s;
}

.OS-bar.element:first-child {
  border: 0;
  padding-right: 73px;
  padding-left: 64px;
  border-right: 2px solid #393839;
}

.OS-bar.element:last-child {
  border: 0;
  padding-left: 73px;
  padding-right: 64px;
  border-left: 2px solid #393839;
}

.OS-bar a, .theme-bar a {
  height: 70px;
  width: 70px;
  color: #393839;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  transition: 0.2s;
}

.OS-title, .theme-title {
  border: none;
  text-align: center;
}

.theme-bar a:hover {
  color: white;
}

.OS-bar.element:hover {
  background-color: #f62121;
  color: white;
}

.top .logo {
  background-color: white;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.account {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.account i {
  color: #393839;
}

.core {
  background-color: white;
}

.core.index {
  display: grid;
  grid-template: 1fr / 20% 60% 20%;
}

h1, h2 {
  font-family: "Fontastique", sans-serif;
  color: #f62121;
  text-align: center;
  white-space: pre-wrap;
}

.content {
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

body {
  margin: 0%;
}

.software {
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex: 1 1 auto;
  margin: 15px;
  opacity: initial;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  text-align: center;
}

.software * {
  align-self: center;
  background-position: center;
}

.software img {
  margin-top: 15px;
}

.software p:last-child {
   margin-bottom: 15px;
}

.left-panel article, .right-panel article {
  margin: 20px 0px;
  border-radius: 15px;
  border: 1px solid black;
}
.left-panel article {
  margin-left: 15px;
}
.suggestions, .classement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.suggestions ul, .classement ol {
  list-style: none;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

article .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f62121;
  color: white;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}
article .title h3{
  padding: 5px;
  margin: 3px 0px;
}

li {
  margin-top: 15px;
  color: #113366;
}

li a, .news a {
  text-decoration: none;
  color: #113366;
}

.title i {
  margin-top: 15px;
}

.right-panel article {
  margin-right: 15px;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left:10px;
  padding-right:10px;
}

.news img {
  margin-top: 15px;
  border-radius: 5px;
}

footer {
  background-color: #bdc3c7;
  display: flex;
  flex-direction: column;
}

.liste {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-around;
  background-color: #bdc3c7;
  font-family: "Open Sans", sans-serif;
}

.liste a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.liste a:hover {
  text-decoration: underline;
}

footer img {
  align-self: center;
}

a:link{
  text-decoration:none;
}
