.paragraphs {
  margin: 1rem 0;
  font-family: "Open Sans";
  font-weight: bold;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  gap: 0;
  grid-column: 1 / 4;
  grid-row: 4;
}

.paragraphs > p {
  margin: 0 0 1rem 0;
}

.news-article {
  padding: 0px 15px;
  display: grid;
  grid-template: repeat(6, auto) / 150px 250px 150px;
}

.news-article > h1 {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  text-align: center;
}

.news-article > img {
  padding-bottom: 15px;
}
