@font-face {
  font-family: "Fontastique";
  src: url("fonts/fontastique.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Inter UI";
  src: url("fonts/Inter-SemiBold.woff");
}

.menu,.search-bar-responsive{
  display: none;
}
h3 a {
  text-decoration: none;
  color: white;
}

h3, h4, p, .left-panel li {
  font-family: "Open Sans", sans-serif;
}

.top {
  grid-row: 1/2;
  grid-column: 1/4;
  display: grid;
  grid-template: 1fr/ 20% 75% 5%;
  box-shadow: 0px 2px 5px black;
}

body {
  display: flex;
  justify-content: center;
  background-color: #ecf0f1
}

.website {
  padding-top: 15px;
  width: 1000px;
}

.header {
  width: 100%;
  display: grid;
  grid-template: 1fr 1fr 1fr/ 20% 75% 5%;
  background-color: #bdc3c7;
}

.logo img, footer img {
  width: 190px;
  height: 100px;
}

.search-bar {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-basis: 5;
}

input {
  line-height: 15px;
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1 1 auto;
  outline: none;
}

.search-bar input:c {
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1 1 auto;
}

.OS-bar {
  display: flex;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  justify-content: space-around;
  align-items: center;
}

.theme-bar {
  background-color: #f62121;
  border: 0;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.theme-bar div {
  display: flex;
  justify-content: center;
  padding: 0px 36px;
  border: 0;
  border-right: 1px solid #393839;
  border-left: 1px solid #393839;
}

.theme-bar div:first-child {
  display: flex;
  justify-content: center;
  padding-right: 38px;
  padding-left: 38px;
  border: 0;
  border-right: 1px solid #393839;
}

.theme-bar div:last-child {
  display: flex;
  justify-content: center;
  padding-right: 34px;
  padding-left: 38px;
  border: 0;
  border-left: 1px solid #393839;
}

.OS-bar {
  display: flex;
  justify-content: center;
}

.OS-bar div {
  border: 0;
  padding: 20px 60px;
  border-right: 2px solid #393839;
  border-left: 2px solid #393839;
}

.OS-bar div:first-child {
  border: 0;
  padding-right: 73px;
  padding-left: 64px;
  border-right: 2px solid #393839;
}

.OS-bar div:last-child {
  border: 0;
  padding-left: 73px;
  padding-right: 64px;
  border-left: 2px solid #393839;
}

.OS-bar a, .theme-bar a {
  height: 70px;
  width: 70px;
  color: #393839;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Inter UI", sans-serif;
}

.theme-bar a:hover {
  color: white;
}

.OS-bar div:hover {
  background-color: #f62121;
  color: white;
}

.top .logo {
  background-color: white;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

.account {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.account i {
  color: #393839;
}

.core {
  background-color: white;
}

.core.index {
  display: grid;
  grid-template: 1fr / 20% 60% 20%;
}

h1, h2 {
  font-family: "Fontastique", sans-serif;
  color: #f62121
}

.content {
  margin-left: 20px;
  margin-right: 20px;
}

body {
  margin: 0%;
}

.software {
  color: white;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex: 1 1 auto;
  margin: 15px;
  opacity: initial;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
}

.software * {
  align-self: center;
}

.software img {
  margin-top: 15px;
}

.software :last-child {
  margin-bottom: 15px;
}

.torrent {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://img.utdstc.com/screen/1/utorrent-002.jpg:800");
  transition: 5s;
}

.torrent:hover {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("https://img.utdstc.com/screen/1/utorrent-002.jpg:800");
  background-position: top;

}

.zoom {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://saportakinsta.s3.amazonaws.com/wp-content/uploads/2020/09/Development-Authority-screenshot.jpg");
  transition: 5s;
}

.zoom:hover {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("https://saportakinsta.s3.amazonaws.com/wp-content/uploads/2020/09/Development-Authority-screenshot.jpg");
  background-position: top;
}

.left-panel article {
  margin-left: 15px;
}

article {
  margin: 20px 0px;
  border-radius: 30px;
  border: 1px solid black;
}

.suggestions, .classement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.suggestions ul, .classement ol {
  list-style: none;
}

article .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f62121;
  color: white;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
}

li {
  margin-top: 15px;
  color: #113366;
}

li a, .news a {
  text-decoration: none;
  color: #113366;
}

.title i {
  margin-top: 15px;
}

.right-panel article {
  margin-right: 15px;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news img {
  margin-top: 15px;
  border-radius: 5px;
}

footer {
  background-color: #bdc3c7;
  display: flex;
  flex-direction: column;
}

.liste {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-around;
  background-color: #bdc3c7;
  font-family: "Open Sans", sans-serif;
}

.liste a {
  text-decoration: none;
  color: #f62121;
}

footer img {
  align-self: center;
}
