@font-face {
  font-family: "Fontastique";
  src: url("fonts/fontastique.ttf");
}

.header {
  display: grid;
  grid-template: 1fr 1fr 1fr/ 15% 75% 10%;
}

.core {
  display: grid;
  grid-template: 1fr / 10% 80% 10%;
}

* {
  font-family: "Fontastique", sans-serif;
}

body {
  margin: 0%;
}
.software{
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content:flex-start; 
  align-items: stretch;
  align-content: center;
  flex: 1 1 auto;
  margin-left: 20px;
  margin-right: 20px;
  opacity: initial;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.software *{
  align-self: center;
}
.torrent{
  background-color: rgba(0,0,0,0.7);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("icons/screenshots/utorrent.png");
}
.zoom{
  background-color: rgba(0,0,0,0.7);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("icons/screenshots/zoom.png");
}

.logo img {
  width: 100%;
  height: 100%;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-bar input {
  margin-left: 10px;
  margin-right: 10px;
  flex: 1 1 auto;
}

.OS-bar {
  display: flex;
  grid-column: 2 / 4;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  grid-row: 1 / 3;
  flex: 1 1 auto;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.account img {
  width: 25%;
}

.theme-bar {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
