<div class="OS-bar">
  <%  for (const [alt, title] of Object.entries({
        windows: "Windows",
        apple: "MacOS",
        linux: "Linux",
        android: "Mobile",
        "mobile-alt": "iOS"
      })) { %>
      <div class="OS-bar element">
        <a href="">
          <i class="<%= "fab fa-" + alt %>" style="font-size: 45px;" />
          <br><div class="OS-title"><%= title %></div>
        </a>
      </div>
  <% } %>
</div>