<div class="OS-bar">
  <%  for (const [title, alt] of Object.entries({
        Windows: "windows",
        MacOS: "apple",
        Linux: "linux",
        Mobile: "android",
        iOS: "mobile-alt"
      })) { %>
      <div class="OS-bar element">
        <a href="">
          <i class="<%= "fab fa-" + alt %>" style="font-size: 45px;"></i>
          <br><div class="OS-title"><%= title %></div>
        </a>
      </div>
  <% } %>
</div>