<div class="top">
  <div class="menu">
    <i class="fas fa-bars" style="font-size: 25px;"></i>
  </div>
  <div class="logo">
    <a href="/"><img src="resources/icons/logo.png" alt="logo" /></a>
  </div>
  <div class="search-bar">
    <input type="text" placeholder="ex: Winrar, uTorrent, Avast Anti-virus, ..." name="search-bar" />
    <i class="fas fa-search" style="font-size: 25px;"></i>
  </div>
  <div class="account">
    <a href="account"><i class="fas fa-user" style="font-size: 25px;"></i></a>
  </div>
  <div class="search-bar-responsive">
    <input type="text" placeholder="ex: Winrar, uTorrent, Avast Anti-virus, ..." name="search-bar" />
  </div>
</div>