<footer>
  <div class="liste">
    <a href="/infos-legales">Infos Légales</a>
    <a href="/publicite">Publicité</a>
    <a href="/cgu">CGU</a>
    <a href="/confidentialite">Confidentialité</a>
    <a href="/recrutement">Recrutement</a>
    <a href="/archives">Archives</a>
    <a href="/contact">Contact</a>
    <a href="/charte-de-contribution">Charte de contribution</a>
  </div>
  <img src="resources/icons/logo.png" alt="">
</footer>