<footer>
  <div class="liste">
    <a href="">Infos Légales</a>
    <a href="">Publicité</a>
    <a href="">CGU</a>
    <a href="">Confidentialité</a>
    <a href="">Recrutement</a>
    <a href="">Archives</a>
    <a href="">Contact</a>
    <a href="">Charte de contribution</a>
  </div>
  <img src="resources/icons/logo.png" alt="">
</footer>