<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="style/all.css">
  <link rel="icon" href="resources/icons/favicon.ico" />
  <script src="https://kit.fontawesome.com/5147579a57.js" crossorigin="anonymous"></script>
  <% if (commentHead) { %>
    <script src="plugins/tinymce-dist-master/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector:'textarea',
        skin:"Perioeci",
        content_css:"Perioeci",
        language:"fr_FR",
        plugins: ['link','emoticons'],
        toolbar: "bold italic strikethrough | link emoticons",
        menubar : false,
        statusbar : false
      });
    </script>
  <% } %>
</head>