<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perioeci Market</title>
</head>

<body>
  <h1>ÉNORME TEST</h1>
  <p>
    <%= petitTest %>
  </p>
</body>

</html>