<!DOCTYPE html>
<html lang="fr">

<%- include("components/head", { page_title }); -%>

<body>
  <div class="website">
    <%- include("components/header", { icon_user }); -%>
    <%- include("components/footer"); -%>
  </div>
</body>

</html>