<section class="software-rating">
  <figure class="software-rating edit">
    <h3>
      Note de la rédaction<br>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </h3>
  </figure>
  <figure class="software-rating comm">
    <h3>
      Note de la communauté<br>
      <i id="vote1" class="far fa-star"></i>
      <i id="vote2" class="far fa-star"></i>
      <i id="vote3" class="far fa-star"></i>
      <i id="vote4" class="far fa-star"></i>
      <i id="vote5" class="far fa-star"></i>
    </h3>
  </figure>
  <script src="script/rating.js"></script>
</section>
