<main class="error">
    <section class="err_text">
        <h1>Oof</h1>
        <h2>Erreur 404</h2>
        <h3>Il semblerait que la page que vous cherchez n'existe pas...</h2>
        <h4>                <a href="index.ejs"><i class="fas fa-home" style="font-size: 25px;"></i> &nbsp; Revenir à l'accueil</a></h4>
    </section>
    <section class="err">
        <img src="../resources/icons/empty.svg" alt="error404">
    </section>
</main>