<article>
  <div class="classement">
    <div class="title">
      <img src="resources/icons/Ranking.png" alt="" width="30px">
      <h3>Les plus téléchargés</h3>
    </div>
    <ol>
      <li><a href="/software/chrome">Google Chrome</a></li>
      <li><a href="/software/utorrent">µTorrent</a></li>
      <li><a href="/software/zoom">Zoom</a></li>
      <li><a href="/software/atom">Atom</a></li>
    </ol>
  </div>
</article>