<article>
  <div class="classement">
    <div class="title">
      <img src="resources/icons/Ranking.png" alt="" width="30px">
      <h3>Les plus téléchargés</h3>
    </div>
    <ol>
      <li><a href="">Google Chrome</a></li>
      <li><a href="">µTorrent</a></li>
      <li><a href="">Zoom</a></li>
      <li><a href="">Atom</a></li>
    </ol>
  </div>
</article>