<article>
  <div class="suggestions">
    <div class="title">
      <i class="fas fa-question-circle" style="font-size: 20px;"></i>
      <h3>Suggestions de la rédaction</h3>
    </div>
    <ul>
      <li><a href="/software/bitdefender">Bitdefender</a></li>
      <li><a href="/software/winrar">Winrar</a></li>
      <li><a href="/software/vlc">VLC Media Player</a></li>
      <li><a href="/software/itunes">iTunes</a></li>
    </ul>
  </div>
</article>