<article>
  <div class="suggestions">
    <div class="title">
      <i class="fas fa-question-circle" style="font-size: 20px;"></i>
      <h3>Titre des suggestions</h3>
    </div>
    <ul>
      <li><a href="">Zoom</a></li>
      <li><a href="">Google chrome</a></li>
      <li><a href="">µTorrent</a></li>
      <li><a href="">Atom</a></li>
    </ul>
  </div>
</article>