<div class="top">
  <div class="menu">
    <i class="fas fa-bars" style="font-size: 25px;"></i>
  </div>
  <div class="logo">
    <a href="/"><img src="resources/icons/logo.png" alt="logo" /></a>
  </div>
  <form id="form-search-bar" class="search-bar" action="/search/" method="POST">
    <input type="text" placeholder="ex: Winrar, uTorrent, Avast Anti-virus, ..." name="query" />
    <i class="fas fa-search top-button" style="font-size: 25px;" onclick="postSearch()"></i>
  </form>
  <div class="account">
    <a href="/account"><i class="fas fa-user top-button" style="font-size: 25px;"></i></a>
  </div>
  <div class="search-bar-responsive">
    <input type="text" placeholder="ex: Winrar, uTorrent, Avast Anti-virus, ..." name="query" />
  </div>
  <script src="script/search.js"></script>
</div>