<div class="header">
  <div class="top">
    <div class="menu">
      <i class="fas fa-bars" style="font-size: 25px;"></i>
    </div>
    <div class="logo">
      <a href="index.html"><img src="../resources/icons/logo.png" alt="logo" /></a>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="ex: Winrar, uTorrent, Avast Anti-virus, ..." name="search-bar" /> <i class="fas fa-search" style="font-size: 25px;"></i>
    </div>
    <div class="account">
      <a href="account.html">
        <img src=<%= icon_user %> alt="" style="width: 25px;">
      </a>
    </div>
    <div class="search-bar-responsive">
      <input type="text" placeholder="ex: Winrar, uTorrent, Avast Anti-virus, ..." name="search-bar" />
    </div>
  </div>
  <div class="OS-bar">
    <div class="OS-bar element">
      <a href=""><i class="fab fa-windows" style="font-size: 45px;"></i><br> <div class="OS-title">Windows</div> </a></div>
    <div class="OS-bar element">
      <a href=""><i class="fab fa-apple" style="font-size: 45px;"></i><br> <div class="OS-title">MacOS</div> </a></div>
    <div class="OS-bar element">
      <a href=""><i class="fab fa-linux" style="font-size: 45px;"></i><br> <div class="OS-title">Linux</div> </a></div>
    <div class="OS-bar element">
      <a href=""><i class="fab fa-android" style="font-size: 45px;"></i><br> <div class="OS-title">Mobile</div> </a></div>
    <div class="OS-bar element">
      <a href=""><i class="fas fa-mobile-alt" style="font-size: 45px;"></i><br> <div class="OS-title">iOS</div>  </a> </div>
  </div>
  <div class="theme-bar">
    <div class="theme-bar element">
      <a href=""><i class="fas fa-key" style="font-size: 35px;"></i><br> <div class="theme-title">Indispensables</div> </a></div>
    <div class="theme-bar element">
      <a href=""><i class="fas fa-fire-alt" style="font-size: 35px;"></i><br> <div class="theme-title">Populaires</div> </a></div>
    <div class="theme-bar element">
      <a href=""><i class="fas fa-wifi" style="font-size: 35px;"></i><br> <div class="theme-title">Internet</div> </a></div>
    <div class="theme-bar element">
      <a href=""><i class="fas fa-gamepad" style="font-size: 35px;"></i><br> <div class="theme-title">Jeux</div> </a></div>
    <div class="theme-bar element">
      <a href=""><i class="fas fa-briefcase" style="font-size: 35px;"></i><br> <div class="theme-title">Professionnel</div> </a></div>
    <div class="theme-bar element">
      <a href=""><i class="fas fa-tools" style="font-size: 35px;"></i><br> <div class="theme-title">Utilitaires</div> </a></div>
    <div class="theme-bar element">
      <a href=""><i class="fas fa-shield-alt" style="font-size: 35px;"></i><br> <div class="theme-title">Sécurité</div> </a></div>
  </div>
  <script src="../script/index_responsive.js"></script>
</div>