<div class="core index">
  <div class="left-panel">
    <article>
      <div class="classement">
        <div class="title">
          <img src="../resources/icons/Ranking.png" alt="" width="30px">
          <h3>Les plus téléchargés</h3>
        </div>
        <ol>
          <li><a href="">Google Chrome</a></li>
          <li><a href="">µTorrent</a></li>
          <li><a href="">Zoom</a></li>
          <li><a href="">Atom</a></li>
        </ol>
      </div>
    </article>
    <article>
      <div class="suggestions">
        <div class="title">
          <i class="fas fa-question-circle" style="font-size: 20px;"></i>
          <h3>Titre des suggestions</h3>
        </div>
        <ul>
          <li><a href="">Zoom</a></li>
          <li><a href="">Google chrome</a></li>
          <li><a href="">µTorrent</a></li>
          <li><a href="">Atom</a></li>
        </ul>
      </div>
    </article>
  </div>
  <div class="software-presentation">
    <img src="../resources/icons/chromenews1.jpg" width="550px" height="350px" alt="vignette">
    <h1 class="title">Des extensions malveillantes de Chrome auraient été découvertes</h1>
    <div class="software-description">
      <br> Avast a averti mercredi que trois millions d'internautes auraient installé 15 extensions Chrome et 13 extensions Edge contenant du code malveillant. Les 28 extensions contenaient du code pouvant entraîner plusieurs opérations malveillantes,
      notamment de rediriger le trafic vers des annonces publicitaires, rediriger le trafic vers des sites de phishing ,collecter des données personnelles (date de naissance, e-mails et appareils actifs), recueillir l'historique de navigation, télécharger
      des malwares sur l'appareil.<br>
      <br> Malgré la diversité des possibilités énoncées ci-dessus, les chercheurs en cybersécurité d'Avast pensent que l'objectif premier de cette campagne était de détourner le trafic des utilisateurs, dans un objectif de gains monétaires : « pour chaque
      redirection vers un domaine tiers, les cybercriminels recevraient un paiement ».
      <br>
    </div>
    <div class="software-rating">
      <div class="software-rating edit">
        <h3>Note de la rédaction <br>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i></h3>
      </div>
      <div class="software-rating comm">
        <h3>Note de la communauté <br>
          <i id="vote1" class="far fa-star"></i>
          <i id="vote2" class="far fa-star"></i>
          <i id="vote3" class="far fa-star"></i>
          <i id="vote4" class="far fa-star"></i>
          <i id="vote5" class="far fa-star"></i>
        </h3>
      </div>
      <script src="../script/rating.js"></script>
    </div>
    <div class="software-comments">
      <h3>Commentaire :</h3>
      <div class="comment">
        <div class="comment-logo">
          <img src=<%= icon_user %> alt="" style="width: 55px;">
        </div>
        <div class="comment-head">
          <textarea> </textarea>
          <div class="comment-send">
            <div class="send-button">
              <i class="far fa-comments"></i>
              <h4>Envoyer</h4>
            </div>
          </div>
        </div>
      </div>
      <!-- Commentaires -->
      <br>
    </div>
    <script src="../script/likes.js"></script>
    <script src="../script/report.js"></script>
  </div>
  <div class="right-panel">
    <article>
      <a href="">
        <div class="news">
          <img src="../resources/icons/chromenews1.jpg" width="170px" height="120px" alt="">
          <h4><i class="far fa-newspaper" style="font-size: 20px;"></i> &nbsp; Extensions malveillantes sur Chrome</h4>
        </div>
      </a>
    </article>
  </div>
</div>