<main class="acc">
  <header class="titre">
    <h1>Bienvenue sur Perioeci Market</h1>
  </header>
  <section class="acc_core right">
    <section class="login active">
      <form action="">
        <header>
          <h1>Connexion</h1>
        </header>
        <div class="mail">
          <h2>Adresse Mail</h2>
          <input type="mail" placeholder="example@area.com">
        </div>
        <div class="password">
          <h2>Mot de passe</h2>
          <input type="password" placeholder="*********"><br>
          <button><a href="">Mot de passe oublié ?</a></button>
        </div>
        <div class="log button">
          <button><h4>Connexion</h4></button>
        </div>
      </form>
      <div class="switch log ">
        <button><h4>Vous n'êtes pas inscrit ?</h4></button>
      </div>
    </section>
    <img id="illu" src="resources/icons/connect.svg"></img>
    <section class="signin">
      <form action="">
        <header>
          <h1>Inscrivez-vous</h1>
        </header>
        <div class="username">
          <h4>Nom d'utilisateur</h4>
          <input type="name">
        </div>
        <div class="mail">
          <h4>Adresse Mail</h4>
          <input type="mail" placeholder="example@area.com">
        </div>
        <div class="password">
          <h4>Mot de passe</h4>
          <input type="password" placeholder="••••••••••">
          <div class="password-check">
            <div class="check-meter">
              <div class="score"></div>
              <div class="score"></div>
              <div class="score"></div>
              <div class="score"></div>
              <div class="score"></div>
            </div>
            <ul>
              <li>Une majuscule</li>
              <li>Une miniscule</li>
              <li>Au moins un chiffre</li>
              <li>Au moins un caractère spécial</li>
              <li>Au moins 8 caractères</li>
            </ul>
          </div>
        </div>
        <script src="script/password.js"></script>
        <div class="sign button">
          <button><h4>S'inscrire</h4></button>
        </div>
      </form>
      <div class="switch sign">
        <button><h4>Vous avez déjà un compte ?</h4></button>
      </div>
    </section> 
  </section>
  <script src="script/account.js"></script>
</main>