<main class="containercontact">
  <h1>Contact</h1>
  <div class="nom1">
    <h2>Nom</h2>
    <input type="text" required maxlength="100" placeholder="ex: Jacques Dupont" name="entrernom" size="40"/>
  </div>
  <div class="email">
    <h2>E-mail</h2>
    <input type="text" required maxlength="100" placeholder="ex: jacquesdupont@gmail.com" name="entreremail" size="40"/>
  </div>
  <div class="objet">
    <h2>Objet</h2>
    <input type="text" required maxlength="100" placeholder="ex: Photoshop CC 2020" name="entreremail" size="40"/>
  </div>
  <div class="message">
    <h2>Message</h2>
    <textarea cols="60" rows="9" maxlength="500" placeholder="ex: Bonjour, quand allez-vous poster Photoshop CC 2020?" name="message" ></textarea>
  </div>
  <div class="contact-send">
    <div class="send-button">
      <i class="fas fa-paper-plane"></i>
      <h4>Envoyer</h4>
    </div>
  </div>
</main>