<div class="containerprofil">
  <div class="compte">
    <a href="editaccount.html" style="cursor: pointer">
      <h2>Compte</h2>
    </a>
    <h2>Newsletter</h2>
  </div>
  <h1>Compte</h1>
  <div class="champ">
    <h2>Nom d'utilisateur</h2>
    <h4>Actuel : "pseudo actuel de l'utilisateur"</h4>
    <input type="text" required maxlength="100" placeholder="ex: Cyber77" name="entrernom" size="40" />
    <h3>Changer nom d'utilisateur</h3>
  </div>
  <div class="champ">
    <h2>Photo de profil</h2>
    <img src="../resources/icons/utorrent-43r06R.png" alt="Photo de profil" width="100" height="100">
    <h3>Changer photo de profil</h3>
  </div>
  <div class="champ">
    <h2>E-mail</h2>
    <h4>adresse mail de l'utilisateur</h4>
  </div>
  <div class="champ">
    <h2>Bio</h2>
    <textarea cols="60" rows="9" maxlength="500" placeholder="Parlez nous de vous !" name="message"></textarea>
  </div>
  <div class="envoyer">
    <a href="">
      <h2>Changer
        <h2>
    </a>
  </div>
</div>