<div class="core index">
  <div class="left-panel">
    <article>
      <div class="classement">
        <div class="title">
          <img src="../resources/icons/Ranking.png" alt="" width="30px">
          <h3>Les plus téléchargés</h3>
        </div>
        <ol>
          <!-- Revenir ici après travail sur database de pages logiciel -->
          <li><a href="">Google Chrome</a></li>
          <li><a href="">µTorrent</a></li>
          <li><a href="">Zoom</a></li>
          <li><a href="">Atom</a></li>
        </ol>
      </div>
    </article>
    <article>
      <div class="suggestions">
        <div class="title">
          <i class="fas fa-question-circle" style="font-size: 20px;"></i>
          <h3>Titre des suggestions</h3>
        </div>
        <ul>
          <!-- Revenir ici après travail sur database de pages logiciel -->
          <li><a href="">Zoom</a></li>
          <li><a href="">Google chrome</a></li>
          <li><a href="">µTorrent</a></li>
          <li><a href="">Atom</a></li>
        </ul>
      </div>
    </article>
  </div>
  <div class="software-presentation">
    <h1>
      Télécharger
      <!-- titre_logiciel -->
      pour
      <!-- OS -->
    </h1>
    <div class="software-icon">
      <img src="<!-- icon_logiciel -->" width="130px" alt="<!-- titre_logiciel -->">
    </div>
    <div class="software-download">
      <div class="software-download button">
        <i class="fas fa-download"></i>
        <p>Télécharger</p>
      </div>
    </div>
    <div class="software-info">
      <div class="software-info text">
        <p>
          <!-- details_logiciel -->
        </p>
      </div>
    </div>
    <div class="software-screen">
      <div class="software-screen-btn-left">
        <i class="fas fa-arrow-alt-circle-left" style="font-size: 30px;"></i>
      </div>
      <div class="software-screen-shots">
        <img class="shot active" src="<!-- shot_logiciels_1-->" width="300px" alt="">
        <img class="shot" src="<!-- shot_logiciels_2 -->" width="300px" alt="">
        <img class="shot" src="<!-- shot_logiciels_3 -->" width="300px" alt="">
        <img class="shot" src="<!-- shot_logiciels_4 -->" width="300px" alt="">
      </div>
      <div class="software-screen-btn-right">
        <i class="fas fa-arrow-alt-circle-right" style="font-size: 30px;"></i>
      </div>
      <div class="software-screen-overview">

        <img id="screen1" class="active" src="../resources/icons/utorrent1.png" width="90px" alt="un">
        <img id="screen2" src="../resources/icons/utorrent2.png" width="90px" alt="deux">
        <img id="screen3" src="../resources/icons/utorrent3.jpg" width="90px" alt="trois">
        <img id="screen4" src="../resources/icons/utorrent4.png" width="90px" alt="quatre">
      </div>
      <script src="../script/slider.js"></script>
    </div>
    <div class="software-description">
      <!-- description_logiciel  -->
    </div>
    <div class="software-rating">
      <div class="software-rating edit">
        <h3>Note de la rédaction <br>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i></h3>
      </div>
      <div class="software-rating comm">
        <h3>Note de la communauté <br>
          <i id="vote1" class="far fa-star"></i>
          <i id="vote2" class="far fa-star"></i>
          <i id="vote3" class="far fa-star"></i>
          <i id="vote4" class="far fa-star"></i>
          <i id="vote5" class="far fa-star"></i>
        </h3>
      </div>
      <script src="../script/rating.js"></script>
    </div>
    <div class="software-comments">
      <h3>Commentaire :</h3>
      <div class="comment">
        <div class="comment-logo">
          <!-- logo_user -->
          <i class="fas fa-user" style="font-size: 55px;"> </i>
        </div>
        <div class="comment-head">
          <textarea> </textarea>
          <div class="comment-send">
            <div class="send-button">
              <i class="far fa-comments"></i>
              <h4>Envoyer</h4>
            </div>
          </div>
        </div>
      </div>
      <article class="comment">
        <div class="comment-user logo">
          <i class="fas fa-user" style="font-size: 40px;"> </i>
        </div>
        <div class="comment-user info">
          <h3>
            <!-- name_user_comment -->
          </h3>
          <div class="likes">
            <h4>
              <!-- likes_comment -->
            </h4>
            <i class="fas fa-thumbs-up"></i>
          </div>
        </div>
        <h4 class="comment-user content">
          <!-- content_comment -->
        </h4>
        <div class="comment-user options">
          <div class="options-button">
            <button>
                  <i class="far fa-thumbs-up"></i>
                  <h4>J'aime</h4>
                </button>
            <button>
                  <i class="far fa-flag"></i>
                  <h4>Signaler</h4>
                </button>
          </div>
          <div class="report-panel">
            <h4>Raisons</h4>
            <select name="report-reasons" id="report-select-box">
                  <option value="default">Choisir</option>
                  <option value="spam">Spam</option>
                  <option value="innapproriate">Propos innappropriés ou dangeureux</option>
                  <option value="others">Autres (Préciser par message)</option>
                </select>
            <input type="text" name="" id="" placeholder="Facultatif">
            <div class="send-button">
              <i class="fas fa-paper-plane"></i>
            </div>
          </div>
        </div>
      </article>
      <br>
    </div>
    <script src="../script/likes.js"></script>
    <script src="../script/report.js"></script>
  </div>
  <div class="right-panel">
    <article>
      <a href="news1.html">
        <div class="news">
          <img src="../resources/icons/chromenews1.jpg" width="170px" height="120px" alt="">
          <h4><i class="far fa-newspaper" style="font-size: 20px;"></i> &nbsp; Extensions malveillantes sur Chrome</h4>
        </div>
      </a>
    </article>
  </div>
</div>